/*Mobile First Style*/
.main,
.logo,
.formWrapper {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.main {
  width : 85%;
  height: 100vh;
  margin: auto;
  justify-content: flex-start;

  padding-top: 5rem;
}

.logo {
  width: 100%;
  margin: 0 0 2rem 0;
}

.formWrapper {
  width : 100%;
  height: fit-content;

  justify-content: space-evenly;
  align-items    : center;
}

.formWrapper h1 {
  width     : 100%;
  text-align: center;
  color: #FFAE21;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {
  .main {
    width : 30rem;
  }
}