/*Mobile First Style*/
.UIItemsCard {
  width : 100%;
  height: 100%;

  display        : flex;
  flex-direction : column;
  justify-content: flex-end;
  align-items    : flex-start;
}

/*Enforce style rules on a tablet and 
 * mobile but not on larger devices
 */
@media (max-width: 756px) {
  .UIItemsCard {
    align-items    : flex-start !important;
    margin-top: 0.5rem;
  }
}